.control-container {
  width: 400px;
  padding: 24px;
  margin: 0 auto;
}

.content-block-body {
  max-height: 40vh;
  overflow-y: auto;
}

#canvas {
  position: absolute;
  top: 10000px;
  left: 10000px;
  width: 1000px;
  height: 720px;
  overflow: hidden;
  opacity: 0;
}
